<div class="container-fluid">
  <div class="col-md-10 col-md-push-1 block-cont">
    <div class="item">
      <blockquote>
        <p class="quotes">Have a shipping emergency?</p>
        <p class="quotes normal"><b>DON'T PANIC!</b></p>
        <p class="quotes">We take all the pain away in the day to day transportation transactions.</p>
      </blockquote>
      <!-- <a href="#" class="big-btn">
        <span>SEE WHY HERE</span>
      </a> -->
    </div>
  </div>
</div>
<div class="container-fluid footer">
  <div class="center-block">
    <img src="../../assets/images/Forte-20th-Logo.png" class="img-responsive footer-img center-block">
  </div>
  <div class="line-shape"></div>
  <div class="soc_icons text-center">
    <a href="https://www.facebook.com/ForteTLC" target="_blank"><em class="fa fa-facebook" aria-hidden="true"></em></a>
    <a href="https://www.twitter.com/ForteTLC" target="_blank"> <em class="fa fa-twitter" aria-hidden="true"></em></a>
    <a href="https://www.youtube.com/user/ForteTLC" target="_blank"><em class="fa fa-youtube-square" aria-hidden="true"></em></a>
  </div>
  <div class="copyright">
   <p class="cpy"><span>Copyright © 2018 Forté</span></p>
  </div>
</div>
