
<div class="banner-w3layoutsSales" id="home">
  <div class="header">
    <nav class="navbar navbar-default">
      <app-header></app-header>
      <div class="clearfix"> </div>
    </nav>

  </div>
  <div class="container-fluid">
    <div class="row">
      <app-sidemenu></app-sidemenu>
   <div class="col-md-10 main_cont" >
        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
        <div class="clearfix">&nbsp;</div>
        <div class="col-md-8 col-md-push-2 carr_rules">
    <div class="row">
      <div class="col-md-3">
        <div class="text-center carr_cont">
          <div class="text-center carr_unit" align="center">
            <a href="../../assets/pdf/YRCRulesTariff.pdf" id="yrcPdf" target="_blank"><img src="../../assets/images/yrccarrier.png" alt="" id="yrcImage" class="img-responsive"></a>
          </div>
          </div>
    </div>
      <div class="col-md-3">
        <div class="text-center carr_cont">
          <div class="text-center carr_unit" align="center">
            <a href="../../assets/pdf/FXFRulesTariff.pdf" id="fedexPdf" target="_blank"><img src="../../assets/images/fedexeconomycarrier.png" id="fedexImage" alt="" class="img-responsive"></a>
          </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="text-center carr_cont">
          <div class="text-center carr_unit" align="center">
            <a href="../../assets/pdf/FXFRulesTariff.pdf" id="fedexPriorityPdf" target="_blank"><img src="../../assets/images/fedexprioritycarrier.png" id="fedexPriImage" alt="" class="img-responsive"></a>
          </div>
          </div>
      </div>
      <div class="col-md-3">
        <div class="text-center carr_cont">
          <div class="text-center carr_unit" align="center">
            <a href="../../assets/pdf/ReddawayRulesTariff.pdf" id="reddawayPdf" target="_blank"><img src="../../assets/images/reddawayCarrier.jpeg" alt="" id="reddawayImage" class="img-responsive"></a>
          </div>
          </div>
      </div>
    </div>
<!--</div>-->
</div>
  </div>
</div>
  </div>
  <app-footer></app-footer>
</div>
