<div class="banner-w3layoutsSales" id="home">
  <div class="header">
    <nav class="navbar navbar-default">

      <app-header></app-header>
      <div class="clearfix"> </div>
    </nav>
  </div>
  <div class="clearfix">&nbsp;</div>
  <style>
    input[type="file"] {
      display: none;
    }
    .custom-file-upload {
      border: 1px solid #ccc;
      display: inline-block;
      /* padding: 12px 12px; */
      padding: 11px 25px;
      font-size: 12.5px;
      cursor: pointer;
      margin-top: 0px;
      margin-right: 10px;
    }
  </style>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="row">
          <form [formGroup]="companySummaryForm" autocomplete="off">
            <div class="col-md-3">
              <h3 class="" style="color: #a2705c; margin-top: 10px !important; margin-bottom: 20px !important;">Companies List</h3>
            </div>
            <div class="col-md-5">
              <div class="input-group ">
                <select class="selectField" id="customer" placeholder="Search By Company Name" formControlName="company" (change)="getCustomerInformation($event, 'chooseCompany1')">
                  <option value="" hidden>Search By Company Name</option>
                  <option *ngFor="let company of companyFeatures" value="{{company.id}}">{{company.companyName}}</option>
                </select>
                <!--<input placeholder="Search By Company Name" id="customerSearch" formControlName="customer"-->
                       <!--[typeahead]="customerFeatures"-->
                       <!--typeaheadOptionField="companyName"-->
                       <!--(typeaheadOnSelect)="getCustomerInformation($event.item.id)"-->
                       <!--(typeaheadNoResults)="customerRemove($event)"-->
                       <!--(input)="getParticularData($event.target.value)"-->
                       <!--[typeaheadScrollable]="true"-->
                       <!--[typeaheadOptionsInScrollableView]="7" Put this scrollable this is typeahead in customerSummary-->
                       <!--class=" form-control" autofocus>-->
                <div class="input-group-btn" >
                  <button class="btn btn-default" [disabled]="!enableRemoveIcon" type="submit">
                    <em class="fa fa-times-circle"></em>
                  </button>
                </div>
              </div>
            </div>

            <!--<div class="col-md-2">
              <label for="file-upload" class="custom-file-upload pull-right">
                <em class="fa fa-cloud-upload"></em> Choose File
              </label>
              <input id="file-upload" type="file" (change)="fileUpload($event)"/>
            </div>-->


            <!-- <div class="col-md-2" *ngIf="showRefreshFlag">

              <button _ngcontent-c3="" class="blulogisticsBtn pull-right" id="refresh" (click)="refresh()">Refresh</button>
             </div> -->
            <div class="col-md-2">
              <a _ngcontent-c3="" class="blulogisticsBtn pull-right" id="addCustomer" href="javascript:void(0)"(click)="customersPage()">Add Company</a>
            </div>

            <div class="col-md-2">
              <button _ngcontent-c3="" class="blulogisticsBtn pull-right" id="downloadCustomer" (click)="downloadData()">Download</button>
            </div>


            <!-- <div>
               <button class="button" (click)="upload()">Upload</button>
             </div>-->
          </form>
          </div>
        </div>


      <div class="row">
        <div class="col-md-12" *ngIf="showCustomerTable">
          <div class="table-responsive">
            <table class="table table-bordered table-responsive" style="color: #a2705c">
              <thead>
              <tr>
                <th class="text-center" rowspan="2">Company</th>
                <th class="text-center" colspan="13">Business Rules</th>
                
              </tr>
              <tr>
                <th class="text-center" width="130px">Category</th>
                <th class="text-center" width="130px">Carrier</th>
                <th class="text-center" width="130px">Directions</th>
                <th class="text-center" width="130px">Cost Plus Factor</th>
                <th class="text-center" width="130px">Discount</th>
                <th class="text-center" width="130px">Minimum Charge</th>
                
                <th class="text-center" width="95px">FAK Values</th>
                <th class="text-center" width="95px" id="editRules">Edit</th>
                <th class="text-center" width="95px">Delete</th>
                <th class="text-center" colspan="2">Add</th>
                <th class="text-center" >Action on <br>Customer</th>
                <th class="text-center" colspan="2">Delete<br>Company</th>
              </tr>
              </thead>
<tbody>
              <tr *ngFor="let company of companyResponse |paginate: { itemsPerPage: numberPerPage, currentPage: currentPage}">
                <td class="text-center" *ngIf="company.referenceId!== '' && company.referenceId!== null && company.referenceId!== undefined">{{company.companyName}}<br>({{company.referenceId}})</td>
                <!-- *ngIf="company.customerReferenceId === ''" -->
                <td class="text-center"  *ngIf="company.referenceId === '' || company.referenceId === null || company.referenceId === undefined">{{company.companyName}}</td>
                <td colspan="10" class="text-center" style="padding:0px;">
              <tr *ngFor="let businessRules of company.BusinessRulesNew; let i = index">
                <td class="text-center" width="130px" style="border-bottom:1px solid #4c7a71;">{{businessRules.category}}</td>
                <td class="text-center" width="130px" style="border-bottom:1px solid #4c7a71;">{{businessRules.type}}</td>
                <!--<td class="text-center" width="130px" *ngIf = "businessRules.directions === 'WEST TO WEST'">WEST INTERSTATE</td>
                <td class="text-center" width="130px" *ngIf = "businessRules.directions === 'EAST TO EAST'">EAST INTERSTATE</td>-->
                <!--<td class="text-center" width="130px" *ngIf = "businessRules.directions === 'US TO US'">INTERSTATE</td>-->
                <!--<td class="text-center" width="130px" *ngIf = "businessRules.directions === 'US TO US' || businessRules.directions === 'REGIONAL' ||
                businessRules.directions === 'INTER REGIONAL' || businessRules.directions === 'INTRASTATE' || businessRules.directions === 'SPECIAL RULES'">{{businessRules.directions}}</td>-->
                <td class="text-center" width="130px" style="border-bottom:1px solid #4c7a71;">{{businessRules.directions}}
              <tr>
                <td class="text-center" style="padding-left: 26px;" *ngIf="businessRules.directions === 'SPECIAL RULES' && businessRules.specificStateList1.length>0 && businessRules.specificStateList2.length>0 && businessRules.directions !== 'INTRASTATE'">[{{businessRules.specificStateList1}} - {{businessRules.specificStateList2}}]</td>
                <td class="text-center" style="padding-left: 26px;" *ngIf="businessRules.directions === 'SPECIAL RULES' && businessRules.specificStateList1.length>0 && businessRules.specificCityList2.length>0 && businessRules.directions !== 'INTRASTATE'">[{{businessRules.specificStateList1}} - {{businessRules.specificCityList2}}]</td>
                <td class="text-center" style="padding-left: 26px;" *ngIf="businessRules.directions === 'SPECIAL RULES' && businessRules.specificCityList1.length>0 && businessRules.specificStateList2.length>0 && businessRules.directions !== 'INTRASTATE'">[{{businessRules.specificCityList1}} - {{businessRules.specificStateList2}}]</td>
                <td class="text-center" style="padding-left: 26px;" *ngIf="businessRules.directions === 'SPECIAL RULES' && businessRules.specificStateList1.length === 0 && businessRules.specificStateList2.length === 0 && businessRules.specificCityList1.length >0 && businessRules.specificCityList2.length >0 && businessRules.directions !== 'INTRASTATE'">[{{businessRules.specificCityList1}} - {{businessRules.specificCityList2}}]</td>
                <td class="text-center" style="padding-left: 26px;" *ngIf="businessRules.directions === 'SPECIAL RULES' && businessRules.specificStateList1.length>0 && businessRules.specificStateList2.length==0 && businessRules.specificCityList1.length === 0 && businessRules.specificCityList2.length ==0 && businessRules.directions !== 'INTRASTATE'">[{{businessRules.specificStateList1}}]</td>
                <td class="text-center" style="padding-left: 26px;" *ngIf="businessRules.directions === 'SPECIAL RULES' && businessRules.specificStateList1.length==0 && businessRules.specificStateList2.length>0 && businessRules.specificCityList1.length ==0 && businessRules.specificCityList2.length === 0 && businessRules.directions !== 'INTRASTATE'">[{{businessRules.specificStateList2}}]</td>
                <td class="text-center" style="padding-left: 26px;" *ngIf="businessRules.directions === 'SPECIAL RULES' &&  businessRules.specificCityList1.length>0 && businessRules.specificCityList2.length === 0&& businessRules.specificStateList1.length === 0 && businessRules.specificStateList2.length==0 && businessRules.directions !== 'INTRASTATE'">[{{businessRules.specificCityList1}}]</td>
                <td class="text-center" style="padding-left: 26px;" *ngIf="businessRules.directions === 'SPECIAL RULES' &&  businessRules.specificCityList1.length === 0 && businessRules.specificCityList2.length > 0&& businessRules.specificStateList1.length === 0 && businessRules.specificStateList2.length==0 && businessRules.directions !== 'INTRASTATE'">[{{businessRules.specificCityList2}}]</td>
                <td class="text-center" style="padding-left: 43px;" *ngIf="businessRules.directions === 'INTRASTATE' && businessRules.directions !== 'SPECIAL RULES'  && businessRules.specificStateList1.length>0 && businessRules.specificStateList2.length ==0 && businessRules.specificCityList1.length ==0 && businessRules.specificCityList2.length === 0">[{{businessRules.specificStateList1}}]</td>
                <td class="text-center" style="padding-left: 43px;" *ngIf="businessRules.directions === 'INTRASTATE' && businessRules.directions !== 'SPECIAL RULES'  && businessRules.specificStateList1.length === 0 && businessRules.specificCityList1.length>0 && businessRules.specificStateList2.length === 0 && businessRules.specificCityList2.length ==0 ">[{{businessRules.specificCityList1}}]</td>
                <!--<td class="text-center" style="padding-left: 43px;" *ngIf="businessRules.specificZipFlag === 'true' && businessRules.directions === 'REGIONAL DIRECT INTRASTATE' && businessRules.specificStateList1.length>0&& businessRules.specificStateList2.length>0">q{{businessRules.specificStateList1}} </td>-->
              </tr></td>
              <td class="text-center" width="130px" style="border-bottom:1px solid #4c7a71;" *ngIf="businessRules.costPlusFactorNew!== undefined && businessRules.costPlusFactorNew!== ''&& businessRules.costPlusFactorNew!== null"><b>{{businessRules.costPlusFactorNew}}%</b></td>
              <td class="text-center" width="130px" style="border-bottom:1px solid #4c7a71;" *ngIf="businessRules.costPlusFactorNew== undefined || businessRules.costPlusFactorNew== ''|| businessRules.costPlusFactorNew== null">-</td>
              <td class="text-center" width="130px" style="border-bottom:1px solid #4c7a71;" *ngIf="businessRules.costPlusFactorNew!== undefined && businessRules.costPlusFactorNew!== ''&& businessRules.costPlusFactorNew!== null">-</td>
              <td class="text-center" width="130px" style="border-bottom:1px solid #4c7a71;" *ngIf="businessRules.costPlusFactorNew== undefined || businessRules.costPlusFactorNew== ''|| businessRules.costPlusFactorNew== null">{{businessRules.discount}}%</td>
              <td class="text-center" width="130px" style="border-bottom:1px solid #4c7a71;" *ngIf="businessRules.costPlusFactorNew!== undefined && businessRules.costPlusFactorNew!== ''&& businessRules.costPlusFactorNew!== null">-</td>
              <td class="text-center" width="130px" style="border-bottom:1px solid #4c7a71;" *ngIf="businessRules.costPlusFactorNew== undefined || businessRules.costPlusFactorNew== ''|| businessRules.costPlusFactorNew== null">${{businessRules.minCharge}}</td>
              <td class="text-center" width="95px" style="border-bottom:1px solid #4c7a71;" *ngIf="businessRules.fakRange.length > 2"><a style="cursor: pointer; color: #2a4e47" (click)="viewMore(businessRules)">View</a></td> <!--(click)="viewMore(businessRules)"-->
              <td class="text-center" width="95px" style="border-bottom:1px solid #4c7a71;" *ngIf="businessRules.fakRange.length === 2"><span> - </span></td>
              <td class="text-center" width="95px" style="border-bottom:1px solid #4c7a71;"><a style="cursor: pointer" (click)="editParticularBusinessRule(company, businessRules, i)"><em class="fa fa-pencil-square-o" aria-hidden="true"></em></a></td>
              <td class="text-center" width="95px" style="border-bottom:1px solid #4c7a71;">
                <a style="cursor: pointer"  *ngIf="businessRules?.factor !=='COSTPLUS'" (click)="deleteParticularBusinessRule(businessRules, businessRules.id)"><em class="fa fa-minus-circle" aria-hidden="true"></em></a>
                <a style="cursor: pointer"  *ngIf="businessRules?.factor =='COSTPLUS'">-</a>
              </td>
              <!-- <td class="text-center" width="95px"><a style="cursor: pointer" *ngIf="businessRules?.factor === 'COSTPLUS' && businessRules?.factor !== 'AR'" ><em class="fa fa-minus-circle" aria-hidden="true"></em></a></td> -->
              </tr>
              <tr *ngIf="company.BusinessRulesNew.length === 0">
                <td class="text-center" style="padding-left: 100px; font-size: 14px;"> No Business Rules are applied</td>
                <td class="text-center" width="130px">&nbsp;</td>
                <td class="text-center" width="130px">&nbsp;</td>
                <td class="text-center" width="95px">&nbsp;</td>
                <td class="text-center" width="95px">&nbsp;</td>
                <td class="text-center" width="95px"><a style="cursor: pointer" (click)="editCompany(company, '1')"><em class="fa fa-pencil-square-o" aria-hidden="true"></em></a></td>
                <td class="text-center" width="95px">&nbsp;</td>
                <!--<td class="text-center" width="95px"><a style="cursor: pointer" (click)="deleteParticularBusinessRule(businessRules, businessRules.id)"><em class="fa fa-minus-circle" aria-hidden="true"></em></a></td>-->
              </tr>
              </td>
              <td class="text-center" style="cursor: pointer;"><a (click)="addRules(company)" style="color: #2a4e47;"><em class="fa fa-plus-circle" aria-hidden="true"></em> ADD RULES</a></td>
              <td class="text-center" wifth="95px" style="cursor: pointer;" >
                  <a data-toggle="modal" (click)="viewCustomer(company.id)" style="color: #297f70;"><em class="fa fa-pencil-square-o" aria-hidden="true"></em>View</a>
              </td>
          
              <td class="text-center" wifth="95px" style="cursor: pointer;" >
                <a (click)="deleteCompany(company.id)" style="color: #297f70;"><em class="fa fa-minus-circle" aria-hidden="true"></em></a>
            </td>
          
              </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="row" *ngIf="customerData.length>2">
            <div class="col-sm-4 pull-right">
              <pagination-controls (pageChange)= "pageChanged($event)" [id]="customer" class="pull-right"></pagination-controls>
            </div>
            <div class="col-sm-4">
              <label>Items per page</label>
              <select [(ngModel)]="selectPagination" (change)="checkForPagination(selectPagination)">
                <option value="5">5</option>
                <option value="10">10</option>

              </select>
            </div>
          </div> -->

        </div>

      </div>
    </div>
    <div class="row" *ngIf="showNoRecordsFound">
      <div class="text-center">
        <h3 style="color: #a2705c;"><span>No company profile found</span></h3>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-sm" id="deleteCompany-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 50px;">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          Are you sure?
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm" id="deleteIconAp" (click)="deleteIfYesForCompany()">Delete</button>
          <button type="button" data-dismiss="modal" class="btn btn-sm">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-sm" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="margin-top: 50px;">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          Are you sure?
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm" id="deleteIconAp" (click)="deleteCustomerData()">Delete</button>
          <button type="button" data-dismiss="modal" class="btn btn-sm">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <app-dialog [(visible)]="showUploadPopup">
    <div tabindex="-1" role="dialog">
      <div role="document" style="background: #275867 !important; color: #FFFFFF !important;">
        <div class="agileits-login">
          <h3 class="text-center">Do you want to upload the Customer?</h3>
        </div>
        <div class="text-center">
          <button type="submit" class="blulogisticsBtn " (click)="uploadYes()"> Yes</button>
          <button type="submit" class="logisticsBtn" (click)="cancelPopup()"> No </button>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>
    </div>
  </app-dialog>


  <app-dialog [(visible)]="showDeletePopup">
    <div tabindex="-1" role="dialog">
      <div role="document" style="background: #275867 !important; color: #FFFFFF !important;">
        <div class="agileits-login">
          <h3 class="text-center">Do you want to delete the Business Rule?</h3>
        </div>
        <div class="text-center">
          <button type="submit" class="blulogisticsBtn " (click)="deleteIfYes()"> Yes</button>
          <button type="submit" class="logisticsBtn" (click)="cancelPopup()"> No </button>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>
    </div>
  </app-dialog>

  <app-dialog [(visible)]="showDeletePopupForCompany">
    <div tabindex="-1" role="dialog">
      <div role="document" style="background: #275867 !important; color: #FFFFFF !important;">
        <div class="agileits-login">
          <h3 class="text-center">Do you want to delete the Company?</h3>
        </div>
        <div class="text-center">
          <button type="submit" class="blulogisticsBtn " (click)="deleteIfYesForCompany()"> Yes</button>
          <button type="submit" class="logisticsBtn" (click)="cancelCompanyPopup()"> No </button>
        </div>
        <div class="clearfix">&nbsp;</div>
      </div>
    </div>
  </app-dialog>

  <app-dialog [(visible)]="showViewFAKValues" style="min-height: 0px !important;">
    <div tabindex="-1" role="dialog">
      <div role="document">
        <div class="agileits-login" style="background: #275867 !important; color: #FFFFFF !important;">
          <h3 class="text-center">FAK VALUES</h3>
          <div class="clearfix">&nbsp;</div>
          <div class="row">
            <div class="table-responsive col-sm-12" *ngIf="showFak">
              <table class="table-bordered table-responsive" style="color: #FFFFFF; width: 100%;">
                <tr class="text-center">
                  <th class="text-center">FAK Range</th>
                  <th class="text-center">FAK Class</th>
                </tr>
                <tr *ngFor="let fak of viewFakArray">
                  <td class="text-center" *ngIf="fak.fakRangeTo !==''">{{fak.fakRangeFrom}}-{{fak.fakRangeTo}}</td>
                  <td class="text-center" *ngIf="fak.fakRangeTo ==''">{{fak.fakRangeFrom}}</td>
                  <td class="text-center">{{fak.fakValue}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-dialog>

  <div id="view-modal" class="modal" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">
              <em class="fa fa-key"></em>&nbsp;Legend</h4>
          </div> -->
          <div class="modal-body">
            <div tabindex="-1" role="dialog">
              <div role="document">
                <div class="agileits-login" style="background: #4c7a71 !important; color: #fff !important;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="text-center" style="font-weight: 600;margin-bottom:30px;">Customer Details</h4>
                  <div class="table-responsive">
          <table class="table table-bordered table-responsive">
          <thead>
          <tr>
          <th>Customer Name</th>
          <th>Type</th>
          <th></th>
          <th>Edit</th>
          <th></th>
          </tr>
          </thead>
          <tbody>
          
              <tr *ngFor="let list of customerResponse">
                  <td align="center">{{list.customerName}}</td>
                  <td>{{list.type}}</td>
                  <td><a data-dismiss="modal" (click)="editCustomer(list)" ><em class="fa fa-pencil-square-o" aria-hidden="true"></em></a></td>
                  </tr>
          </tbody>
          </table>
          </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    </div>



