<div class="container-fluid" id="forte-login">
  <div class="row">
    <div class="container-fluid logo">
      <img id="forteImage" src="../../assets/images/forte_logo.png" style="margin-left: 22px" class="img-responsive">
    </div>
    <div class="container-fluid header">
      <h1 class="text-left">Forté Rate Calculation Portal</h1>
    </div>
    <div class="container">
      <form action="#"  [formGroup]="internalLogInForm" autocomplete="off">
      <div class="col-md-6 login-cont">
        <h3 class="text-center">Sign In</h3>
        <div class="col-md-12">
          <div class="form-group">
            <label>Email or Username</label>
            <input type="text" class="form-control" id="userName" formControlName="email" placeholder="Enter Email" autocomplete="off" autofocus required>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password" placeholder="Enter Password"  autocomplete="off" required>
          </div>
        </div>
        <div class="form-group" *ngIf="errorMessage">
          <h5 class="invalid">Invalid credentials</h5>
        </div>
        <div class="form-group" *ngIf="inactiveUserMessage">
          <h5 class="invalid">Inactive User</h5>
        </div>
        <div class="form-group" *ngIf="accountBlockedMessage">
        <h5 class="invalid">Your account is blocked. Please reach out to a Forte administrator to unblock your account</h5>
      </div>
        <div class="form-group" *ngIf="invalidEmailMessage">
          <h5 class="invalid">Incorrect Email </h5>
        </div>
        <div class="form-group" *ngIf="retryMessage">
          <h5 class="invalid">Incorrect Password </h5>
        </div>
        <div class="form-group" *ngIf="useUsernameMessage">
          <h5 class="invalid">Please Use Username</h5>
        </div>

        <div class="col-md-12">
          <div class="form-group col-md-offset-4 col-md-4">
           <input type="submit" id="validate" name="submitMenu" value="submit" [disabled]="!internalLogInForm.controls['email'].valid || !internalLogInForm.controls['password'].valid" (click)="validationCheck(internalLogInForm.value)">
           </div>
        </div>
      </div>
      <div class="col-md-6 text-center side-cont">
        <h3>Welcome to the Forte Rate Calculation Portal</h3>
        <h5>You may sign in by using the credentials provided to you by Forte.</h5>
      </div>
        </form>
    </div>
  </div>
</div>
<style>
  .invalid{
    color: #ff0000!important;
  }
</style>
