

    <!--Top-Bar-->
    <div class="header">
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          </div>
      </nav>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
    </div>
    <div class="col-sm-12 text-center">
      <div class="col-sm-4 col-sm-push-4">
        <div class="card">
          <img src="../../assets/images/warning.png">
          <br>
          <h3 style="font-weight: bold; letter-spacing: 1px; color: #ff304d;">Check your credentials</h3>
          <br>
          <a class="btn blulogisticsBtn" href="https://www.fortetlc.net/" >
          <button _ngcontent-c4="" class="blulogisticsBtn" type="button">
            <span _ngcontent-c4="" aria-hidden="true" class="fa fa-sign-in" ></span> Please Login to Forte
          </button></a>
        </div>
      </div>
    </div>

    <div class="clearfix">&nbsp;</div>
  <!--AP and AR Details-->
  <!-- modal -->

  <!-- //modal -->

